.card,
.card-inverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card-inverse { background-color: #333 !important; }

.card-inverse.active,
.card.active {
    scale: 1.02;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: shake 0.5s;
    transform-origin: center;
}

.card i,
.card-inverse i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    display: inline-block;
    animation: jello 2s infinite;
    transform-origin: center;
}

.card i:not(a i) { color: #999; }
.card-inverse i:not(a i) { color: #888; }

.card h2,
.card-inverse h2 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333;
}

.card-inverse h2 { color: #fff; }

.card h3,
.card-inverse h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.card p,
.card-inverse p {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    color: #333;
    height: 100%;
    align-self: flex-start;
}

.card-inverse p { color: #ddd; }

.card a,
.card-inverse a {
    width: fit-content;
    margin-top: 15px;
    padding: 10px 15px;
    margin-top: 20px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    font-size: 17px;
    color: #2e5a94;
    background-color: #f9f9f9;
}

.card-inverse a {
    border: 1px dashed #ffb561 !important;
    color: #ffb561 !important;
    background-color: transparent !important;
}

.card-noanimate { transform: none !important; }