.card,
.card-inverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.card:hover,
.card-inverse:hover {
    scale: 1.05;
}

.card-inverse { 
    background: rgb(214,214,214);
    background: -moz-linear-gradient(37deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 82%);
    background: -webkit-linear-gradient(37deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 82%);
    background: linear-gradient(37deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6d6d6",endColorstr="#ffffff",GradientType=1);
}

.card-inverse.active,
.card.active {
    animation: bounce 2s;
    transform-origin: center;
}

.card i,
.card-inverse i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    display: inline-block;
    animation: jello 2s infinite;
    transform-origin: center;
}

.card i:not(a i) { color: #999; }
.card-inverse i:not(a i) { color: #2e5a94; }

.card h2,
.card-inverse h2 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    color: #272727;
}

.card h3,
.card-inverse h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.card p,
.card-inverse p {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    color: #272727;
    height: 100%;
    align-self: flex-start;
}

.card a,
.card-inverse a {
    width: fit-content;
    margin-top: 15px;
    padding: 10px 15px;
    margin-top: 20px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: #2e5a94;
}