.gamecard {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 600px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    background-color: var(--card-background);
}

.gamecard:hover {
    scale: 1.05;
}

.gamecard.active {
    animation: var(--card-animation);
    transform-origin: center;
}

.gamecard img {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: -50%; 
    left: -50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 200%;
    height: 200%;
    object-fit: contain;
    animation: rotate 3s linear infinite;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 5)); 
}

.gamecard-container {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    margin: 6px;
    border-radius: var(--radius);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--card-background);
    animation: move 20s linear infinite;
}

.gamecard-fade {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.gamecard i {
    align-self: flex-start;
    font-size: 50px !important;
    margin-right: 0 !important;
    display: inline-block;
    animation: jello 2s infinite;
    transform-origin: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}

.gamecard h1 {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 0 !important;
    border-left: 0 !important;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.gamecard p { 
    height: auto !important;
    font-size: calc(var(--font-size) - 2px);
    font-weight: 300;
    line-height: 25px;
    color: #f9f9f9;
    text-shadow: 1px 1px 1px #000;
}

.gamecard span { 
    font-size: calc(var(--font-size) - 2px);
    padding: 0 !important;
    font-weight: 300;
    color: #888;
    align-self: flex-start;
    border-radius: 0 !important;
    border: 0 !important;
    text-shadow: 1px 1px 1px #000;
    background-color: transparent !important;
}

@media all and (max-width: 1200px) {
    .gamecard h1 { font-size: 18px !important; }
    .gamecard p { font-size: calc(var(--font-size) - 2px) !important; }
}