video {
    width: 100%;
    height: auto;
    padding: var(--video-padding);
    object-fit: cover;
    object-position: center;
    border-radius: var(--video-radius);
    border: var(--video-border);
    box-shadow: var(--video-boxShadow);
}

video:hover {
    border: 1px solid var(--theme);
}

video.active {
    animation: var(--video-animation);
    transform-origin: center;
}